* {
  padding: 0%;
  margin: 0%;
}

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 36;
  color: darkturquoise;
  padding: 7px;
}
h1 > span {
  border-bottom: 2px solid crimson;
}

.div-left,
.div-right {
  width: 40%;
  float: left;
  border: 2px red dotted;
  margin: 20px;
  padding: 15px;
}
.div-left {
  background-color: rgba(63, 32, 32, 0.212);
}
